@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    /*background-color: #CFD3DC;*/
}

html {
    /* 浏览器滚动条 */
}

html > ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

html > ::-webkit-scrollbar-corner,
html > ::-webkit-scrollbar-track {
    /*background-color:  rgba(0, 0, 0, 0.7);*/
    background-color: rgba(0, 0, 0, 0.7);
}

html > ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(147, 184, 227, 0.5);
}

html > ::-webkit-scrollbar-button:vertical {
    display: none;
}

html > ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

html > ::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, 0.38);
}


@font-face {
    font-family: "TiZhong";
    /*src: url('public/font/喜鹊聚珍体.ttf');*/
    src: url('assets/font/Ti-Zhong.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HarmonyOS_Sans_Medium";
    src: url('assets/font/HarmonyOS_Sans/HarmonyOS_Sans_Medium.ttf') format('ttf');
    /*src: url('public/font/HarmonyOS_Sans/HarmonyOS_Sans_Medium.ttf');*/
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "喜鹊聚珍体";
    /*src: url('public/font/喜鹊聚珍体.ttf');*/
    src: url('https://dm.nbut.ac.cn/xcoder/%E5%96%9C%E9%B9%8A%E8%81%9A%E7%8F%8D%E4%BD%93.ttf');
    font-weight: normal;
    font-style: normal;
}

